@media (max-width: 992px)  {
    h2 {
        font-weight: bold;
        font-size: 26px;
    }
    h4 {
        font-size: 20px;
    }
    h5 {
        font-size: 16px;
    }
    .col-lg-6{
        padding-top: 1em;
    }
    .opacity {
        background: rgba(245, 245, 245, 0.95);
    }
}
body {
    background-image: url('background.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    font-family: 'Courier New', Courier, monospace;
}
h2{
    font-weight: bold;
} 
button{
    font-family: Arial, Helvetica, sans-serif;
    font-size: medium;
    background-color: #343B3F;
    color: white;
    padding: 8px 8px;
    box-shadow: 1px 8px 16px 0 rgba(0,0,0,0.6), 0 6px 20px 0 rgba(0,0,0,0.19);
}
#jmclogo{
    height: 56px;
}
#JohnEstes{
    height: 350px;
}
.nav-item {
    text-shadow: 1px 1px 7px #000;
}
.contact:link {
    color: black;
    text-decoration: underline;
}

.contact:visited {
    color: rgb(49, 49, 49);
    text-decoration: underline;
}
  
.contact:hover {
    color: rgb(109, 109, 109);
    text-decoration: none;
}
.project{
    height: 300px;
}
.opacity {
    background: rgba(219, 219, 219, 0.7);
}
.bs-example{
    margin: 20px;
}
body{
    padding-bottom: 70px;
}
.nav-item{
    font-size: 22pt;
}
