a:link {
    color: black;
    background-color: transparent;
    text-decoration: none;
}
body {
    background-image: url('background.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}  
.opacity {
    background-color: #ffffff;
    opacity: 0.7;
}
a:visited {
    color: grey;
    background-color: transparent;
    text-decoration: none;
}
  
a:hover {
    color: rgb(10, 10, 46);
    background-color: transparent;
    text-decoration: underline;
}
#jmclogo{
    height: 56px;
}
.bs-example{
    margin: 20px;
}
body{
    padding-bottom: 70px;
}
.nav-item{
    font-size: 22pt;
}
