body {
    background-image: url('background.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    font-family: 'Courier New', Courier, monospace;
}
@media only screen and (max-width: 480px)  {
    h2 {
        font-weight: bold;
        font-size: 26px;
    }
    h4 {
        font-size: 20px;
    }
    h5 {
        font-size: 16px;
    }
}
h2{
    font-weight: bold;
} 

#jmclogo{
    height: 56px;
}
#JohnEstes{
    height: 350px;
}
.nav-item {
    text-shadow: 1px 1px 7px white;
}
.contact:link {
    color: black;
    text-decoration: underline;
}

.contact:visited {
    color: rgb(49, 49, 49);
    text-decoration: underline;
}
  
.contact:hover {
    color: rgb(109, 109, 109);
    text-decoration: none;
}
.project{
    height: 300px;
}
.opacity {
    background: rgba(219, 219, 219, 0.7);
}
.bs-example{
    margin: 20px;
}
body{
    padding-bottom: 70px;
}
.nav-item{
    font-size: 22pt;
}
